.cards {
 object-fit: contain;
 background-color: #102731; 
 border-radius: 5px;
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
 justify-content: center;
 margin: auto;
 width: 40%;
}
article {
  padding: 5px;
}
img {
  width: 100%;
}

button {
  font-family: Apple Chancery;
  font-size: 1rem;
  min-width: 140px;
  width: 35%;
}

.favorited {
  background:rgb(204, 190, 68);
  font-weight: bolder;
}

h2 {
  margin: 2px;
  color: #FCFDFF;
  font-size: 3.5em;
}

p {
  text-align: left;
  margin: 10px;
}

.animal-info-red {
  color: #FF6232;
  font-weight: 400;
  font-size: 1.2rem;
}
.animal-info {
  color: #1A657C;
  font-weight: 400;
  font-size: 1.2rem;

}
.animal-info-titles {
  color: #8FA7AD;
  font-weight: bold;
  font-size: 1.5rem;

}

