.cc-card {
  object-fit: contain;
  background-color: #102731F2; 
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  justify-content: center;
  margin: 30px auto;
  width: 50%;
}

.cc {
  color: #8FA7AD;
  font-weight: bold;
  font-size: 1.5rem;
}
.cc-pop {
  color: #FF6232;
  font-weight: 400;
  font-size: 1.2rem;
}

.cc-info {
  color: #1A657C;
  font-weight: 400;
  font-size: 1rem;
}

a {
  color: #1A657C;
  margin-right: 10px;
  text-decoration: none;
}

a:hover {
  color: #FF6232;;
}





