header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 190px;
  margin: 10px;
}

form {
  display: flex;
  padding-top: 28px;
}

input {
  -webkit-appearance: none;
  font-size: 1rem;
  height: 28px;
  width: 54%;
}

button {
  height: 27px;
}